@page "/home"

<PageTitle>USC | Home</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large">
    <MudText Typo="Typo.h3" Class="text-center">@HeaderText</MudText>
        <UscPaper Class="pa-2 text-center">
            
        <MudText Class="ma-1 mb-3">
            @PgText
        </MudText>
        <div class="latin">
            <MudText Class="latin-text" Typo="Typo.h4" Style="font-family: Cinzel, serif;">@LatinText.ToUpper()</MudText>
            <MudText Style="flex: 0 0;" Typo="Typo.subtitle2">@LatinTranslation</MudText>
        </div>
        <MudImage Src="/img/uscLogo.png" Alt="USC Logo" Style="width: 100%; padding: 0; object-fit: scale-down; max-height: 700px"/>
        </UscPaper>
</MudContainer>