@using UnitedSystemsCooperative.Web.Client.Modules.About
@using UnitedSystemsCooperative.Web.Client.Models
@using Microsoft.Extensions.Options
@inject IOptions<AboutOptions> AboutOptions
@inject IOptions<LinkOptions> LinkOptions

<MudContainer MaxWidth="MaxWidth.Medium" Class="pa-2 mb-2" Style="text-align: center; width: fit-content; margin: auto">
    <MudPaper>
        <div style="display: grid;grid-template-rows: auto">
            <div class="button-group">
                @foreach (var button in _buttons.Where(x => x.Local == true))
                {
                    <MudButton Variant="Variant.Outlined" Color="Color.Secondary" Link="@button.Link" Class="ma-2">
                        @button.Title
                    </MudButton>
                }
            </div>
            <div class="button-group">
                @foreach (var button in _buttons.Where(x => x.Local == false))
                {
                    <MudButton Variant="Variant.Outlined" Color="Color.Primary" Link="@button.Link" Class="ma-2">
                        @button.Title
                    </MudButton>
                }
            </div>
        </div>
    </MudPaper>
</MudContainer>

@code{

    private AboutLayoutButtonInfo[] _buttons = Array.Empty<AboutLayoutButtonInfo>();

    protected override void OnInitialized()
    {
        _buttons = AboutOptions.Value.LayoutButtonInfos;
        var uscLinks = LinkOptions.Value.UscLinks;
        _buttons = _buttons.Select(x =>
        {
            if (!x.Link.Contains('{')) return x;
            var replacement = uscLinks.First(y => string.Equals(y.Replace, x.Link, StringComparison.CurrentCultureIgnoreCase));
            x.Link = replacement.Link;
            return x;
        }).ToArray();
    }

}