<div class="text-center">
    <MudText Typo="Typo.h2">@title</MudText>
    <MudText Typo="Typo.h3">Under Construction</MudText>
    <img src="img/construction.png" style="max-width: 400px;" alt="Under Construction cone"/>
</div>