@page "/about/allies"
@using UnitedSystemsCooperative.Web.Shared
@inject IHttpClientFactory ClientFactory

<MudContainer MaxWidth="MaxWidth.ExtraSmall">
    <MudText Typo="Typo.h4" Align="Align.Center">Allies</MudText>
    @if (_isLoading)
    {
        <div>Loading allies</div>
    }
    else
    {
        <MudPaper>
            @if (_allies == null)
            {
                <div>No allies found</div>
            }
            else
            {
                <MudList>
                    @foreach (var ally in _allies)
                    {
                        <MudListItem Text="@ally.Name"/>
                    }
                </MudList>
            }
        </MudPaper>
    }

</MudContainer>

@code {
    private bool _isLoading = false;
    private Ally[]? _allies;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _isLoading = true;
            var client = ClientFactory.CreateClient(Constants.NoAuthHttpClientName);
            _allies = await client.GetFromJsonAsync<Ally[]>("/api/ally");
        }
        finally
        {
            _isLoading = false;
        }
    }

}
